-#
  Эта страница не адаптивна! Так как сделать подобные сраницы адаптивными -
  это отдельное задание!
=breadcrumb_tag do
  %li.active
    Стелажи
  %li
    Просмотр

.page-header
  %h1= t('headers.my_racks.index')

%table.table.table-hover.table-striped
  %caption
    = link_to new_my_rack_path, class: 'btn btn-success' do
      = fa_icon :plus
      = t('buttons.new.my_rack')
  %thead
    %tr
      %th= MyRack.human_attribute_name(:number)
      %th= MyRack.human_attribute_name(:my_room_id)
      %th= MyRack.human_attribute_name(:places)
      %th= MyRack.human_attribute_name(:height)
      %th= MyRack.human_attribute_name(:width)
      %th= MyRack.human_attribute_name(:length)
      %th= MyRack.human_attribute_name(:max_weight)
      %th
  %tbody
    - @my_racks.each do |rack|
      %tr
        %td.center= rack.number
        %td.center= link_to rack.my_room.name, rack.my_room
        %td.center= rack.places
        %td.center= rack.height
        %td.center= rack.width
        %td.center= rack.length
        %td.center= rack.max_weight
        %td.right
          = link_to edit_my_rack_path(rack), class: 'btn btn-info' do
            = fa_icon :edit
            = t('buttons.edit')
          = link_to rack, :method => :delete,
          :data => { :confirm => t('buttons.confirm.my_rack') },
          class: 'btn btn-danger' do
            = fa_icon :times
            = t('buttons.destroy')
