=breadcrumb_tag do
  %li.active
    = link_to 'Комната ' + @my_room.name, @my_room
  %li
    = @my_rack.number
  %li
    Администрирование

%h1= 'Стелаж ' + @my_rack.number.to_s

%dl
  %dt= MyRack.human_attribute_name(:places)
  %dd= @my_rack.places
  %dt= MyRack.human_attribute_name(:height)
  %dd= @my_rack.height
  %dt= MyRack.human_attribute_name(:width)
  %dd= @my_rack.width
  %dt= MyRack.human_attribute_name(:length)
  %dd= @my_rack.length
  %dt= MyRack.human_attribute_name(:max_weight)
  %dd= @my_rack.max_weight
