=breadcrumb_tag do
  %li.active
    = @my_room.name
  %li
    = link_to 'Комнаты', my_rooms_path
  %li
    Администрирование

%h1= @my_room.name

%dl
  %dt= MyRoom.human_attribute_name(:volume)
  %dd= @my_room.volume
