.page-header
  %h3= t('Поиск')
  = form_tag my_items_path, :method => 'get' do
    .row
      .col-md-1
        .form-group
          = label_tag "height", "Высота "
          = number_field_tag "height", params[:height], autocomplete: 'off', class: 'form-control'
      .col-md-1
        .form-group
          = label_tag "width", "Ширина "
          = number_field_tag "width", params[:width], autocomplete: 'off', class: 'form-control'
      .col-md-1
        .form-group
          = label_tag "length", "Длина "
          = number_field_tag "length", params[:length], autocomplete: 'off', class: 'form-control'
      .col-md-1
        .form-group
          = label_tag "weight", "Вес "
          = number_field_tag "weight", params[:weight], autocomplete: 'off', class: 'form-control'
    .row
      .col-md-4
        .form-group
          = label_tag "position", "Позиция "
          = number_field_tag "position", params[:position], autocomplete: 'off', class: 'form-control'
      .col-md-4
        .form-group
          = label_tag "date_from", "Дата с "
          .input-group.date.datepicker
            = text_field_tag "date_from", params[:date_from], class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
      .col-md-4
        .form-group
          = label_tag "date_to", "Дата по "
          .input-group.date.datepicker
            = text_field_tag "date_to", params[:date_to], class: 'form-control'
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar
    .row
      .col-md-4
        .form-group
          = label_tag "client_name", "Имя клиента "
          = text_field_tag "client_name", params[:client_name], autocomplete: 'off', class: 'form-control'
      .col-md-4
        .form-group
          = label_tag "rack_number", "Номер стелажа "
          = number_field_tag "rack_number", params[:rack_number], autocomplete: 'off', class: 'form-control'
      .col-md-4
        .form-group
          = label_tag "room_name", "Имя комнаты "
          = text_field_tag "room_name", params[:room_name], autocomplete: 'off', class: 'form-control'
      .col-md-4
        .form-group
          = submit_tag "Search", :name => nil
