=breadcrumb_tag do
  %li.active
    = link_to @my_client.name, @my_client
  %li
    = @my_item.my_rack.collection_select_name + ". " + @my_item.position.to_s
  %li
    Администрирование

%h1= 'Объект в комнате' + @my_item.my_rack.collection_select_name + ' на позиции ' + @my_item.position.to_s

%dl
  %dt= MyItem.human_attribute_name(:height)
  %dd= @my_item.height
  %dt= MyItem.human_attribute_name(:width)
  %dd= @my_item.width
  %dt= MyItem.human_attribute_name(:length)
  %dd= @my_item.length
  %dt= MyItem.human_attribute_name(:weight)
  %dd= @my_item.weight
  %dt= MyItem.human_attribute_name(:incoming_date)
  %dd= lnil(@my_item.incoming_date)
  %dt= MyItem.human_attribute_name(:issue_date)
  %dd= lnil(@my_item.issue_date)
  %dt= MyItem.human_attribute_name(:my_rack_id)
  %dd= link_to @my_item.my_rack.collection_select_name, my_room_my_rack_path(@my_item.my_rack.my_room, @my_item.my_rack)
  %dt= MyItem.human_attribute_name(:position)
  %dd= @my_item.position
