=breadcrumb_tag do
  %li.active
    = @my_client.name
  %li
    = link_to 'Клиенты', my_clients_path
  %li
    Администрирование

%h1= 'Клиент ' + @my_client.name

%dl
  %dt= MyClient.human_attribute_name(:details)
  %dd= @my_client.details
