%nav.navbar.navbar-default.navbar-fixed-bottom#top-bar
  .container-fluid
    .navbar-header
      .navbar-brand
        = link_to root_path do
          = image_tag 'logo.png', alt: t('app.company.short_name')
      %button.navbar-toggle.collapsed{type: 'button', aria: {expanded: 'false'}, data: {toggle: 'collapse', target: '#ex1'}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse#ex1
      %ul.nav.navbar-nav
        %li
          = link_to 'Клиенты', my_clients_path
        %li
          = link_to 'Комнаты', my_rooms_path
        %li
          = link_to 'Поиск', search_path
        %li
          = link_to login_path do
            = @current_user.blank? ? 'войти' : @current_user.email
        %li
          - if @current_user.blank?
            = link_to login_path do
              = fa_icon 'sign-in'
          - else
            = link_to logout_path do
              = fa_icon 'sign-out'
